.Rproj.user
.Rhistory
.RData
.Ruserdata
*.htmlQGISfor*
QGISforSSPAdata/
*.html
*.docx
accessibility practical data
accessability.pdf
accessibility practical data.zip
QGISforSSPAdata.zip
*rsconnect
course-info/TRAN 5115 Module Handbook_201718.doc
